body {
    font-weight: 100;
    font-family: 'Lato';
}
p,h4 {
  text-align: left;
  padding:5px 20px;
}
.title {
    font-size: 96px;
    text-align:center;
}
.center-form {
  text-align:center;
}
.hero-unit {
    padding: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #eee;
    border-radius: 6px;
}